body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/* Define o estilo da tabela */
table {
    width: 80%;
    /* Centraliza a tabela na página */
    margin: 20px auto;
    /* Reomve o espaçamento entre as bordas das células */
    border-collapse: collapse;
    background: white;
    /* Adiciona sombra á tabela*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Define o estilo das células da tabela (tanto cabeçalho quanto corpo) */
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Define o estilo do cabeçalho da tabela */
th {
    background-color: #4caf50;
    color: white;
}

/* Alterna a cor de fundo das linhas pares para melhoras a visualização */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Altera a cor de fundo quando o mouse passa sobre uma linha */
tr:hover {
    background-color: #ddd;
}