body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Vai ocupar a altura da tela*/
    height: 100vh;
}

/* O container que envolve a imagem */
.container {
    text-align: center;
    width: 80%;
    /* Limita o tamanho máximo do container */
    max-width: 1000px;
    background-color: #ffffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para a imagem responsiva */
img {
    /* A imagem não vai ajustar automaticamente para 
    manter a proporção*/
    height: auto;
    /* Evita que a imagem tenha espaços abaixo */
    display: block;
    /* Centraliza a imagem horizontaçmente dentro
    do container */
    margin: 0 auto;
}