/* Estilo gerais */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho*/
#cabecalho {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Estilo para o rodapé*/
#rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Estilos para sa caixas com bordas*/
.caixa {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

/* Bordas com diferenstes estilos*/
.borda-solida {
    border: 5px solid green;
}

.borda-pontilhada {
    border: 5px dotted red;
}

.borda-tracejada {
    border: 5px dashed blue;
}

.borda-dupla {
    border: 5px double purple;
}
/*Exemplo com padding e margin aplicados*/
.com-padding-e-margem {
    margin: 30px;
    padding: 20px;
    border: 2px solid #333;
}

/* Usando margen e padding de forma especifica*/
#exemplo-padding-margin .caixa {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}