* {
    margin: 0;
    padding: 5px;
}

body {
    margin: 0px auto;
    width: 50%;
}

header {
    background-color: #3e0303;
    padding: 40px;
}

h1 {
    font-family: Georgia;
    color: #a52a2a;
}

h2 {
    font-family: Georgia;
    font-weight: bolder;
}

p {
    color: #5f9ca0!important;
    font-family: Arial, Helvetica;
    font-size: 1.3rem;
}

.destaque {
    color: chocolate
}