* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #3e87e6;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

body{
  background-color: #dedede
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h1, h2 {
    color: #272525;
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  margin: 8px 0 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-weight: bold;
  background-color: #3e87e6;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #dedede;
  color: #3e87e6;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

label {
  color: #272525;
}

.resultado {
  margin-top: 15px;
  font-weight: bold;
  color: #272525;
}

.container {
  width: 300px; 
  background-color: #dedede;
  padding: 20px;
  box-shadow: 0 0 10px rgba(116, 116, 116, 0.966);
  border-radius: 8px;
  margin-bottom: 30px;
}

.erro {
  color: #e63e3e;
  font-weight: bold;
}

.sucesso {
  color: #1d744b;
  font-weight: bold;
}