.container { 
    width: 100%; 
    margin: 20px 0; 
    padding: 10px; 
    background-color: #fefefe; 
    border: 1px solid #ddd; 
    } 
/* Display Block*/ 
    .block { 
    display: block; 
    width: 100%; 
    background-color: lightblue; 
    padding: 20px; 
    margin-bottom: 10px; 
    } 
/*Display Inline */
    inline {
    display: inline; 
    background-color: lightgreen; 
    padding: 10px; 
    margin-right: 10px; 
}
/*Display Inline-Black */
inline-block { 
    display: inline-block; 
    background-color: lightcoral; 
    padding: 10px; 
    margin-right: 10px; 
}
    