* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 1em;
    text-decoration: none;
}

header h2{
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px;
}

nav a {
    padding: 20px; margin: 10px;
    color: #000000;
    background-color: #ffffff;
}

body {
    text-align: center;
    background-color: #c1bdbdb4;
}



.sombra-blur {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.img-home {
    /* URL da imagem de fundo */
    background-image: URL("");
    /* Faz a imagem cobrir todo o conteiner */
    background-size: cover;
    /* Centraliza a imagem dentro do conteiner*/
    background-position: center;
    /* Garante que o header ocupe 100% da largura da tela */
    width: 100%;
}

.img-portifolio {
    /* URL da imagem de fundo */
    background-image: URL("");
    /* Faz a imagem cobrir todo o conteiner */
    background-size: cover;
    /* Centraliza a imagem dentro do conteiner*/
    background-position: center;
    /* Garante que o header ocupe 100% da largura da tela */
    width: 100%;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 50px; margin-top: 10px;
}