* {
    margin: 0;
    padding: 0;
    /* Garantindo que todos os elementos eusem bordser-box por padrãp */
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* Espaçamento entre linhas */
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* Estilo do header */
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    color: #007BFF;
}

header p {
    font-size: 1.2em;
    color: #333;
}

/* Estilo para o container das caixas */
.container {
    display: flex;
    justify-content: space-between;
    /*  Espaç entre as caixas */
    gap: 20px;
}

/* Estilo para as caixas */
.caixa {
    width: 45%;
    padding: 20px;
    border: 5px solid #333;
    background-color: #fff;
    text-align: center;
    /* Usando o box sizing padrão para a caixa antes*/
    box-sizing: content-box;
}

/* Caixa Antes */
.caixa.antes {
    /* Box-Sizing padrão, o padding e a borda aumentam o tamanho total */
    box-sizing: content-box;
}

.caixa.antes p {
    font-size: 1.1em;
    color: #888;
}

/* Caixa depois*/
.caixa.depois {
    /* Box-sizing com border-box, o padding e a borda não afetam o tamanho total*/
    box-sizing: border-box;
    /* Cor de fundo diferente para a caixa depois */
    background-color: #e0f7fa;
}

.caixa.depois p {
    font-size: 1.1em;
    color: #00796b;
}

/* Estilo para o footer*/
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: #777
}