/*Reset basico para garantir consistencia no estilo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
/*Estilo para o header*/
  header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-family: "Roboto", sans-serif;
    /*A unidade de medida ren no CSS é uma abreviação de "root em" (en raiz),
      e ela é relativa ao tamanho da fonte do elemento raiz da página,que é tipicamente o <html> 1rem <-> 16px*/
  
    font-size: 2.5rem;
  }
  
  /*Estilo para o main */
  main {
    padding: 20px;
  }
  
  /* Estilo para a section */
  section {
    display: flex;
    flex-wrap: wrap;
    /*gap: espaçamento entre as calxas*/
    gap: 20px;
  }
  
  /*Estilos para os articles */
  article {
    flex: 11 calc(50% - 20px);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  article p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  /* Estilos para as fontes*/
  .font-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #333;
  }
  
  .font-2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #555;
  }
  
  .font-3 {
    font-family: "Mea Culpa", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
  }
  
  .font-4 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #222;
  }