body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Utilizando toda a altra da janela */
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%;
    /* Limita a largura da caixa */
    max-width: 1000px;
    background-color: #ffffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para a imagem responsiva */
.image-container {
    /* O conteiner da imagem ocupa 100% da largura do
    conteiner pai */
    width: 100%;
    /* Evita que a imagem tenha espaços abaixo */
    height: 300px;
    /* Oculta qualquer parte da imagem que ultrapasse os
     limites do conteiner */
    overflow: hidden;
}

/* Estilos para a imagem responsiva */
img {
    /* A imagem vai ocupar 100% da largura do contêiner */
    width: 100%;
    /* Evita que a imagem tenha espaços abaixo */
    height: 300px;
    /* Faz com que a imagem preencjha o conteinr, cortando
    onde nescessario */
    object-fit: cover;
}