/* Resetando margens, paddings, estilo de texto e fonte padrão para todos os elementos */
* {
    margin: 0; /* Remove margens externas de todos os elementos */
    padding: 0; /* Remove os preenchimentos internos de todos os elementos */
    text-decoration: none; /* Remove sublinhados de links e outros elementos */
    font-family: Arial, sans-serif; /* Define a fonte padrão para todos os elementos */
}

/* Estilo de fundo para o corpo da página */
body {
    background-color: #2b2a2a; /* Define um fundo escuro para a página */
}

body h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 1px;
}
/* Estilo do header */
header {
    background-color: #0073e6; /* Cor de fundo roxa para o cabeçalho */
    color: #f4fff4; /* Cor de texto branca */
    padding: 30px; /* Espaçamento interno do cabeçalho */ /* Centraliza o texto dentro do cabeçalho */
}

header figure h1 {
    margin-bottom: 50px;
    text-align: center;
}

/* Estilo de navegação */
header nav {
    background-color: #0073e6; /* Cor de fundo roxa para a barra de navegação */
    display: flex; /* Usando flexbox para distribuir os itens */
    justify-content: right; /* Centraliza os links na barra de navegação */
    padding: 10px; /* Espaçamento interno da barra de navegação */
}

/* Estilo para os links de navegação */
header nav a {
    background-color: #f4fff4;
    color: #0073e6; /* Cor de texto branca para os links */
    padding: 0px 20px;/* Espaçamento interno para os links */
    margin: 0px 20px;
    border-radius: 15px;
}

/* Estilo de interação ao passar o mouse sobre os links */
header nav a:hover {
    background-color: #0b3763; /* Cor de fundo roxa mais clara no hover */
    color: #f4fff4;
    padding: 0px 30px;/* Espaçamento interno para os links */
    margin: 0px 30px;
    border-radius: 15px;
}

/* Estilo para os artigos */
article {
    text-align: left; /* Alinha o texto à esquerda */
    margin: 20px; /* Espaçamento externo ao redor do artigo */
    padding: 10px; /* Espaçamento interno do artigo */
    height: 30%; /* Define a altura como 30% da altura disponível */
    width: 30%; /* Define a largura como 30% da largura disponível */
}

/* Estilo das seções */
section {
    color: #ffffff; /* Cor do texto branca */
    padding: 10px; /* Espaçamento interno da seção */
    margin: 10px; /* Espaçamento externo ao redor da seção */
    display: flex; /* Usa flexbox para dispor os itens */
    justify-content: center; /* Centraliza o conteúdo da seção */
    border-radius: 15px; /* Bordas arredondadas para a seção */
}

/* Estilo do rodapé */
footer {
    background-color: #0073e6; /* Cor de fundo roxa para o rodapé */
    color: #ffffff; /* Cor de texto branca */
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 50px; /* Espaçamento interno no rodapé */
    margin-top: 50px; /* Espaçamento superior em relação ao conteúdo anterior */
}

/* Estilo de artigos com borda */
article.borda-solida {
    border: 5px solid #0073e6; /* Define uma borda sólida roxa ao redor do artigo */
    border-radius: 20px; /* Bordas arredondadas mais suaves */
}

/* Estilo das imagens dentro do artigo */
.img-article {
    float: left; /* Faz a imagem flutuar à esquerda */
    margin: 50px; /* Espaçamento ao redor da imagem */
    width: 55px; /* Largura da imagem */
    height: 100%; /* Altura da imagem é 100% da altura disponível */
}

/* Estilo da imagem do logo */
#logo img {
    float: left;
    margin: 15px; /* Espaçamento ao redor da imagem do logo */
    margin-bottom: 1px;
    width: 5%; /* Largura da imagem é 5% do tamanho do contêiner */
    display: flex; /* Usando flexbox para exibir a imagem */
    justify-content: left; /* Alinha a imagem à esquerda */
}

/* Estilo para a imagem do topo */
#img-topo img {
    display: inline; /* Exibe a imagem em linha (não ocupa toda a largura) */
    justify-content: center; /* Centraliza a imagem */
    margin: 50px; /* Espaçamento ao redor da imagem */
    width: 300px; /* Largura da imagem */
    height: 500px; /* Altura da imagem é 100% da altura disponível */
}

.box-fixo a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

/*Clear para evitar sobreposição*/
.clear {
    clear: both;
}