* {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Estilos gerais do corpo do docuento */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Garente que o ody ocupe toda a altura da tela */
    display: flex;/* ativa flexbox non body*/
    flex-direction: column;/* organiza os filhos em coluna (header, main, footer) */
}

header {
    background: #333;
    color: white;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem;
}

header p {
    font-weight: 300;
    font-size: 1.2rem;
}

section {
    display: flex;/* ativa flexbox non body*/
    flex-direction: column;
    font-size: 1.2rem;
}

section h1{
    color: #333;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.navegacao {
    background-color: #333;
    /* flexblox para linhar as items da navegação horizontalmente*/
    display: flex;
    justify-content: center; /* centraliza os items horizontalmente*/
    flex-wrap: wrap; /* permite que os items querem para linha seguinte em telas pequenas*/
}

/* estilo das linhas de navegação*/
.navegacao a { 
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.navegacao a:hover{
    color: #ffffff;
    background-color: #ff9100e8;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Primeiro imagem de fundo */
.parallax1 {
    background-image: url("../img/front-view-beautiful-dog-with-copy-space.png");
    min-height: 500px;
}
.parallax2 {
    background-image: url("../img/front-view-beautiful-dog-with-copy-space (1).jpg");
}

.content {
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}
.conteudo-principal {
    /* Felxbox para organizar a area de conteudo e a barra lateral */
    display: flex;
    flex: 1; /* faz com que o main ocupe todo o espçao disponivel entre header e footer */

    /* layout padra: barra lateral a direita */
    flex-direction: row;

    /* para telas pequenas, vamos andar para coluna (abaixo no modulo responsivo) */
}

.area-conteudo {
    background-color: #f4f4f4;
    flex: 3; /* ocuoa 3 partes do espaço disponel */
    min-height: 400px;
}

.barra-lateral {
    border-left: 1px solid #ccc;
}

@media (max-width: 768px ) {
    /* quando a tela for menor ue 768px */

    .navegacao {
        flex-direction: column; /*empilha os links de navegacao */
    }

    .navegacao a {
        border-bottom: 1px solid #555; /* adiciona divisao entre links */
    }

    .barra-lateral {
        border-left: none;
        border-top: 1px solid #ccc;
    }
    .area-conteudo .barra-lateral {
        /*flex: 1; ambas ocupam a mesma proporção */
        width: 100%;
    }

}

.barra-lateral {
    padding: 20px;
}

.rodape { 
    background-color: #333;
    color: white ;
    text-align: center;
    padding: 20px;

    /*flexbox para organizar multiplos elementos no rodape*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
}

footer p {
    margin-bottom: 0.5rem;
}