* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-decoration: none;
}

/*============================================ HEADER ============================================*/

header {
    background-color: #000000;
    padding: 20px;
}

header nav {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header nav h1 {
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

header nav a {
    color: #d2d28e;
    margin: 0px 20px;
    padding: 0px 20px;
}
header nav a:hover {
    color: #fcfc00;
}


/*============================================ BODY ============================================*/

body {
    color: #ffffff;
    background-color: #121322;
    margin: 0;
    padding: 0;
}


/*============================================ MAIN ============================================*/

main {
    text-align: center;
}

main picture img {
    height: 100%;
    width: 100%;
}


/*============================================ SECTION ============================================*/
section {
    margin: 10px;
    border-radius: 50px;
    
}
section h1 {
    padding: 10px;
    margin: 50px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 3rem;
}

section table {
    margin: 80px;
    margin-bottom: 0PX;
}
section table p {
    font-size: 1.0em;
    margin: 80px;
    margin-top: 6px;
}
section table img{
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
    width: 290px;
    height: 250px;
}

section h2 {
    margin: 30px;
    margin-top: 1px;
    margin-bottom: 100px;
}


/*============================================ ARTICLE ============================================*/
article p{
    text-align: center;
    margin-bottom: 25px;
    margin-left: 280px;
    margin-right: 280px;
    color: #ffffff;
}

/*============================================ CLASSE ============================================*/

.voltar-inicio {
    text-align: center;
    color: #d2d28e;
    border-radius: 5px;
    text-decoration: none;
}
.voltar-inicio:hover {
    color: #fcfc00;
}

/*============================================ FOOTER ============================================*/

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px; margin-top: 50px;
}