body {
    font-family: "Arial", sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 20px;
}

picture {
    display: flex;
    border-radius: 20px;
    justify-content: center;
}
.fonte h3 {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;

}

nav a {
    color: #000000;
    margin: 0 15px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    background-color:#ffffff;
}

nav a:hover {
    background-color: #000000;
}

main {
    padding: 20px;
}

section {
    background-color: #000000;
    margin: 0px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

figure {
    display: flex;
    border-radius: 20px;
    justify-content: right;

}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px; margin-top: 20px;
}