/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

/*Estilo do cabeçalho*/
header {
    text-align: center;
    background: #cf67cf;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

/*Estilo das seções*/
section {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*Float left*/
.float-left img {
    float: left;
    margin-right: 15px;
    width: 120px;
    height: 110px;
}

/*Float rigth*/
.float-right img {
    float: right;
    margin-left: 15px;
    width: 120px;
    height: 100px;
}

/*Clear para evitar sobreposição*/
.clear {
    clear: both;
}

/*Sem float*/
.flost-none {
    text-align: center;
}

/*Rodapé*/
footer {
    text-align: center;
    background: #d6d59e;
    color: white;
    padding: 10px;
    margin-top: 20px;
}